{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 55.7483,
    "longitude": 37.6171,
    "elevation": 0,
    "unit_system_v2": "us_customary",
    "location_name": "Home Assistant",
    "time_zone": "Europe/Moscow",
    "external_url": null,
    "internal_url": null,
    "currency": "RUB",
    "country": "RU",
    "language": "ru"
  }
}